.d-flex {
  display: flex;
  color: #332309;
}
p{
  margin: 0;
}

.title {
  font-weight: bold;
}

.dash {
  margin-left: 100px;
  width: 65%;
}

.content {
  font-size: 22px;
}
.content button {
  margin: 10px;
  border-radius: 100%;
  border: 1px solid #332309; /* Remove a borda padrão */
  color: #332309;
  background-color: rgba(230, 222, 197, 0.8);
  outline: none; /* Remove a borda quando o botão é focado */
}

.content:hover button {
  background-color: #aa9571;
}

.table {
  background-color: rgba(230, 222, 197, 0.8);
  font-size: 17px;
  border-radius: 10px;
  padding: 10px;
  height: 200px;
  width: 100%;
}

.cronograma {
  margin-top: 112px;
}

.cards_table {
  display: flex;
  flex-direction: row;
}
